<div class="container" >
  <div class="intr">
      <div class="row">
        <div class="col-12 banner">
          <img src="../../assets/output-onlinepngtools.png" alt="">
        </div>
      </div>
      <br>
      <div class="row" style="padding-top: 100px; padding-left: 50px;">
        <div class="col-1"></div>
        <div class="col-4 blog" style="height: auto; width: auto;">
          <span class="us2">About Us</span><br><br>
          <p class="lineUp">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Interior design is the Art and Science of enhancing the interior of a building to achieve a healthier and more aesthetically pleasing environment for the people using the space. We at Premier Laminates with an experience of over 20 years in this field, help our clients achieve that harmony between Aesthetics and Design. We maintain good stocks and varieties to ensure immediate delivery.We have a reasonable price and assure you to give good quality product as we believe that our customers are not mere customers but they are a part of our Premier Family.</p>
        </div>
        <div class="col-1"></div>
        <div class="col-4 videoblog video-mask" style="height: auto; width: auto;">
          <video style="width: 400px; height: 400px;" src="../../assets/VID-20230609-WA0004.mp4" autoplay controls></video>
        </div>
    </div >
    <br>
    </div>    
      <div id="fam" class="row intr1">
        <div class="col-12 us1">
          <span style="font-family: Lucida Handwriting; color: #ffd900;text-shadow: 0 0 5px #000000;">Premier Family</span>
        </div>
        <div class="col-4"></div>
        <div class="col-4 ">
          <div id="Founder" class="card" style="width: 25rem;">
            <img class="card-img-top sl" src="../../assets/pill.jpg" alt="Card image cap" style="border-radius: 10%; border: solid;">
            <div class="card-body">
              <p class="card-text">
                <span style="font-weight: bolder; font-family: 'Brush Script MT'; font-size: 34px;"> Shri. Pradip kumar Tekriwalji</span><br>
                <span style="font-weight: bold;">Founder</span>
              </p>
            </div>
          </div>
        </div>   
        <div class="col-12"></div>
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card mv" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pill.jpg" alt="Card image cap" style="border-radius: 10%; border: solid;">
            <div class="card-body">
              <p class="card-text">
                <span style="font-weight: bolder;">Mr.Mohit Tekriwal</span><br>
                <span>Partner</span>
              </p>
            </div>
          </div>
        </div> 
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pill.jpg" alt="Card image cap" style="border-radius: 10%; border: solid;">
            <div class="card-body">
              <p class="card-text">                
                <span>Name</span><br>
                <span>Team Member</span></p>
            </div>
          </div>
        </div> 
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pill.jpg" alt="Card image cap" style="border-radius: 10%; border: solid;">
            <div class="card-body">
              <p class="card-text">
                <span>
                  name
                </span><br>
                <span>Team Member</span>
              </p>
            </div>
          </div>
        </div> 
        <div class="col-12"></div>
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pill.jpg" alt="Card image cap" style="border-radius: 10%; border: solid;">
            <div class="card-body">
              <p class="card-text">
                <span>Name</span><br>
                <span>Team Member</span>
              </p>
            </div>
          </div>
        </div> 
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pill.jpg" alt="Card image cap" style="border-radius: 10%; border: solid;">
            <div class="card-body">
              <p class="card-text">                
                <span>Name</span><br>
                <span>Team Member</span></p>
            </div>
          </div>
        </div> 
        <div class="col-1"></div>
        <div class="col-2">
          <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="../../assets/pill.jpg" alt="Card image cap" style="border-radius: 10%; border: solid;">
            <div class="card-body">
              <p class="card-text">
                <span>Name</span><br>
                <span>Team Member</span>
              </p>
            </div>
          </div>
        </div> 
         
      </div>

        <div class="row pad intr2">
          <div class="col-12 us1">
            <span>Products</span>
          </div>
          <div class="col-3">
            <div class="flip-card" style="height: 25rem;">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <h5 style="text-align: center;  color: black;">Ply Wood</h5>
                  <img src="../../assets/plywoodimage.jpg" alt="Avatar" style="width:300px;height:400px;">
                </div>
                <div class="flip-card-back">
                  <h5 style="text-align: center; color: black;">Ply Wood</h5>
                  <p>Plywood is a composite material manufactured from thin layers, or "plies", of wood veneer that are glued together with adjacent layers, having their wood grain rotated up to 90° to one another. It is an engineered wood from the family of manufactured boards, which include medium-density fibreboard (MDF), oriented strand board (OSB), and particle board (or chipboard).</p> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <a href = "/declaminator" style="text-decoration:none;">
              <div class="flip-card" style="height: 25rem;">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <h5 style="text-align: center; color: black;">Decorative Laminates</h5>
                    <img src="../../assets/declamimage.jpg" alt="Avatar" style="width:300px;height:400px;">
                  </div>
                  <div class="flip-card-back">
                    <h5 style="text-align: center; color: black;">Decorative Laminates</h5> 
                    <p>Decorative laminates are laminated products primarily used as furniture surface materials or wall paneling. It can be manufactured as either high- or low-pressure laminate, with the two processes not much different from each other except for the pressure applied in the pressing process. Also, laminate can be produced either in batches or in a continuous process; the latter is called continuous pressure laminate </p> 
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-3">
            <div class="flip-card" style="height: 25rem;">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <h5 style="text-align: center; color: black;">PVC Laminates</h5> 
                  <img src="../../assets/pvclamimage.jpg" alt="Avatar" style="width:300px;height:400px;">
                </div>
                <div class="flip-card-back">
                  <h5 style="text-align: center; color: black;">PVC Laminates</h5> 
                  <p>PVC laminates are multi-layered laminate sheets based on Poly Vinyl Chloride, made by compressing paper and plastic resins under high pressure and temperature. They are used as a decorative layer on top of raw surfaces such as plywood. </p> 
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="flip-card" style="height: 25rem;">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <h5 style="text-align: center; color: black;">Louvers</h5> 
                  <img src="../../assets/louversimage.jpg" alt="Avatar" style="width:300px;height:400px;">
                </div>
                <div class="flip-card-back">
                  <h5 style="text-align: center; color: black;">Louvers</h5> 
                  <p>Louvers are an arrangement of parallel metallic blades, slats, sleek glass panels or wooden connectors. The main function of louvered doors and windows is to allow the penetration of light and air while preventing the entry of water. The louvers could be fixed or movable louvers.</p> 
                </div>
              </div>
            </div>
          </div>
        </div>  

      <div class="row pad" style="background-image: url(../../assets/laminates.jpg);">
        <div class="col-12 us1">
          <span>Our Brands</span>
        </div>
        <marquee behavior="scroll" direction="left" Scrollamount=15>
          <img src="../../assets/agni.jpg" class="brand">&nbsp;

          <img src="../../assets/premiercl.jpg" class="brand">&nbsp;

          <img src="../../assets/alstone.png" class="brand">&nbsp;

          <img src="../../assets/milo_logo.JPG" class="brand">&nbsp;

          <img src="../../assets/laminimage1.JPG" class="brand">&nbsp;

          <img src="../../assets/micas_logo.JPG" class="brand">&nbsp;

          <img src="../../assets/micdoorskinimage.JPG" class="brand">&nbsp;

          <img src="../../assets/uro.png" class="brand">
        </marquee>
      </div>

      <div class="row">
        <footer>
          <h1>Contact Premier Laminates</h1>
          <span>For any query feel free to <a href="/contact" style="font-weight: bold;">talk</a> to us</span>
          <div class="row pad">
            <div class="col-4">
              <h3>Head Office</h3>
              <p>
                468, Raja Muthiah Rd, 
                Thattankulam, Choolai, 
                Chennai, Tamil Nadu 600 012
              </p>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
              <h3>Branch Office</h3>
              <p>
                109/4, Mysore Rod,
                 New Timber Layout,
                 Bengaluru, Karnataka- 560 026
              </p>
            </div>
          </div>
          <div class="row pad">
            <div class="col-4"></div>
            <div class="col-4">
              <h3>Ware House</h3>
              <p>
                109/4, Mysore Rod,
                 New Timber Layout,
                 Bengaluru, Karnataka- 560 026
              </p>
            </div>
          </div>
         <div class="row">
          <div class="col-1"></div>
          <div class="col-2">
           <a href="https://www.facebook.com/profile.php?id=100077196877251&mibextid=ZbWKwL"> <img src="../../assets/facebook.png" alt="" height="35" width="35"> </a> /Premier-Laminates
          </div>
          <div class="col-1"></div>
          <div class="col-3">
           <a href="https://www.instagram.com/premierlaminatesmohit/"> <img src="../../assets/insta.jpg" alt="" height="35" width="35"> </a> @premierlaminatesmohit
          </div>
          <div class="col-1"></div>
          <div class="col-3">
           <a href="https://www.youtube.com/@premierlaminatesmohit/"> <img src="../../assets/youtube.png" alt="" height="35" width="50"> </a>/@premierlaminatesmohit
          </div>
         </div>

          <p class="pad">&copy; SC Services and Consultancy 2023 Your Website. All rights reserved.</p>
        </footer>
      </div>

</div>
