<div class="container brnd" >
    <div class="">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 us">
                <span>Decorative Laminates</span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 us">
                <span>Utilization</span>
            </div>

              <div class="col-2">
                <div class="card">
                  <img src="../../assets/lami_kitc.jpg" class="brand">
                  <h5 style="text-align: center;">Kitchen Cabinet</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/lam_tv.jpg" class="brand">
                  <h5 style="text-align: center;">TV Units</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/ward_lam.jpg" class="brand">
                  <h5 style="text-align: center;">Wardrobe</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/office_lam.jpg" class="brand">
                  <h5 style="text-align: center;">Office</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/door.jpg" class="brand">
                  <h5 style="text-align: center;">Laminated Doors</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/bed_lam.avif" class="brand">
                  <h5 style="text-align: center;">Bed Room Backdrop</h5>
                </div>
              </div>
        </div>

        <div class="row pad1">
            <div class="col-12 us">
                <span>Advantage</span>
            </div>

            <div class="col-2">
                <div class="card">
                  <img src="../../assets/fire.png" class="brand">
                  <h5 style="text-align: center;">Heat Resistance</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/cold.jpg" class="brand">
                  <h5 style="text-align: center; ">Cold Resistance</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/maintain.jpg" class="brand">
                  <h5 style="text-align: center;">Easy to Maintain</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/install.jpg" class="brand">
                  <h5 style="text-align: center;">Speedy Installation</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/strong.png" class="brand">
                  <h5 style="text-align: center;">Long Lasting</h5>
                </div>
              </div>
              <div class="col-2">
                <div class="card">
                  <img src="../../assets/make.jpg" class="brand">
                  <h5 style="text-align: center;">Make In India</h5>
                </div>
              </div>
        </div>

        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 us">
                <span>Dealers Of</span>
            </div>
        </div>
        <div class="row pad1">
            <div class="col-3"></div>
            <div class="col-3">
                <div class="card brdr" style="width: 15rem;height: 10rem;">
                   <a href="/laminator/#milo"><img src="../../assets/milo.jpg" class="brand"></a> 
                </div>
            </div>
            <div class="col-3">
                <div class="card brdr" style="width: 15rem;height: 10rem;">
                  <a href="/laminator/#mica"><img src="../../assets/micas.png" class="brand"></a>  
                </div>
            </div>
        </div>
    </div>

    <div class="row pad1">
        <div class="col-12 us">
            <span>Samples</span>
        </div>


        <div class="col-3">
            <div class="card brdr" style="width: 20rem;height: 10rem;">
                <img src="../../assets/lami1.PNG" class="brdr">
            </div>
        </div>
        <div class="col-3">
            <div class="card brdr" style="width: 20rem;height: 10rem;">
                <img src="../../assets/lami2.PNG" class="brdr">
            </div>
        </div>
        <div class="col-3">
            <div class="card brdr" style="width: 20rem;height: 10rem;">
                <img src="../../assets/lami3.PNG" class="brdr">
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 20rem;height: 10rem;">
                <img src="../../assets/lami4.PNG" class="brdr">
            </div>
        </div>
    </div>

    <div id="milo"  class="row  pad1" style="padding-top: 140px;">
        <div class="col-3">
            <img src="../../assets/milo_shades.jpg" alt=""  style="width: 20rem;height: 20rem;">
        </div>
        <div class="col-2"></div>
        <div class="col-6 blog">
            <span class="us">Milo</span><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
        </div>
    </div>
    
    <div class="row pad1">
        <div class="col-4"></div>
        <div class="col-4">
           <a href="../../assets/Documents/Milo Folder PDF.pdf" download="milo.pdf"> <button class="btn btn-dark"> Click here to download broucher &darr;</button></a>
        </div>
    </div>

    <div id="mica" class="row  pad1">
        <div class="col-6 blog">
            <span class="us">Mica</span><br>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <img src="../../assets/mica_shades.jpg" alt="" style="width: 20rem;height: 20rem;">
        </div>
        
    </div>
    <div  class="row pad1">
        <div class="col-4"></div>
        <div class="col-4">
           <a href="../../assets/Documents/Milo Folder PDF.pdf" download="milo.pdf"> <button class="btn btn-dark"> Click here to download broucher &darr;</button></a>
        </div>
    </div>
    
    
    
    
    
    
    <div class="row pad">
        <footer>
          <p>&copy; SC Services and Consultancy 2023 Your Website. All rights reserved.</p>
        </footer>
    </div>
</div>
