<div class="container" >
  <div class="brnd">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 us1">
        <span>Decorative Laminates</span>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 us1">
          <span>Utilization</span>
      </div>

      <div class="col-2">
        <div class="card" >
          <img src="../../assets/lami_kitc.jpg" class="brand" (click)="showPopup('Kitchen Cabinet')">
          <app-popup *ngIf="isPopupVisible" (closePopup)="hidePopup()"></app-popup>
          <h5 style="text-align: center;" >Kitchen Cabinet</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/lam_tv.jpg" class="brand" (click)="showPopup('TV Units')">
          <app-popup *ngIf="isPopupVisible" (closePopup)="hidePopup()"></app-popup>
          <h5 style="text-align: center;">TV Units</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/ward_lam.jpg" class="brand">
          <h5 style="text-align: center;">Wardrobe</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/office_lam.jpg" class="brand">
          <h5 style="text-align: center;">Office</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/door.jpg" class="brand">
          <h5 style="text-align: center;">Laminated Doors</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/bed_lam.avif" class="brand">
          <h5 style="text-align: center;">Bed Room Backdrop</h5>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 us1">
        <span>Our Brands</span>
      </div>
    </div>
    <div class="row pad1">
      <marquee behavior="scroll" direction="left" Scrollamount=15>
        <a href="/declaminator/#milo"><img src="../../assets/milo_logo.JPG" class="brand"></a>&nbsp; 

        <a href="/declaminator/#milo1"><img src="../../assets/laminimage1.JPG" class="brand"></a> &nbsp;

        <a href="/declaminator/#mica"><img src="../../assets/micas_logo.JPG" class="brand"></a>&nbsp;  

        <a href="/declaminator/#mica1"><img src="../../assets/micdoorskinimage.JPG" class="brand"></a>  
      </marquee>
    </div>

  </div>
  <div style="background-color:lightslategray">
    <div class="row pad1">
      <div class="col-12 us1">
        <span>Samples</span>
      </div>
      <div class="col-3">
        <div class="card brdr" style="width: 20rem;height: 10rem;">
          <img src="../../assets/lami1.PNG" class="brdr">
        </div>
      </div>
      <div class="col-3">
        <div class="card brdr" style="width: 20rem;height: 10rem;">
          <img src="../../assets/lami2.PNG" class="brdr">
        </div>
      </div>
      <div class="col-3">
        <div class="card brdr" style="width: 20rem;height: 10rem;">
          <img src="../../assets/lami3.PNG" class="brdr">
        </div>
      </div>
      <div class="col-3">
        <div class="card" style="width: 20rem;height: 10rem;">
          <img src="../../assets/lami4.PNG" class="brdr">
        </div>
      </div>
    </div>
    
    <div id="milo"  class="row  pad1" style="padding-top: 140px;">
      <div class="col-1"></div>
      <div class="col-6 blog">
        <img src="../../assets/milo_logo.JPG" class="center brand">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
        <div class="row pad1">
          <div class="col-4"></div>
          <div class="col-4">
            <span class="dwn">Available in 0.8mm : </span>
            <a href="../../assets/Documents/Milo Folder PDF.pdf" download="milo.pdf">
              <img src="../../assets/milobook.PNG" height="200"></a>
          </div>
        </div>
        <div class="row pad1">
          <div class="col-3 blink center"><img src="../../assets/certificates/CE.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/FSC.jpg" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/greenguard.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/iso14001.jpg" height="75" width="75"></div>
        </div>
      </div>
      <div class="col-4">          
        <img src="../../assets/Descimage/milo2.png" class="center" style="width: 500px; height: 700px; border-radius: 45px;">
      </div>
    </div>

    <div id="mica" class="row  pad1">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="../../assets/Descimage/micas4.png" class="center" style="width: 500px; height: 800px; border-radius: 45px;">
      </div>
      <div class="col-1"></div>
      <div class="col-6 blog">
        <img src="../../assets/micas_logo.JPG" class=" center brand"><br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
        <div  class="row pad1">
          <div class="col-1"></div>
          <div class="col-4">
            <span class="dwn">Available in 0.8mm : </span>
            <a href="../../assets/Documents/MIcas 0.8 mm.pdf" download="MIcas 0.8 mm.pdf"> <img src="../../assets/mica.8book.PNG" width="200"></a>
          </div>
          <div class="col-2"></div>
          <div class="col-4">
            <span class="dwn">Available in 1.0mm : </span>
            <a href="../../assets/Documents/micas 1.00mm.pdf" download="micas 1.00mm.pdf"> <img src="../../assets/mica1book.PNG" width="180"></a>
          </div>
        </div>
        <div class="row pad1">
          <div class="col-3 blink center"><img src="../../assets/certificates/CE.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/FSC.jpg" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/greenguard.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/iso14001.jpg" height="75" width="75"></div>
        </div>
      </div>
    </div>

    <div id="mica1" class="row pad1">
      <div class="col-1"></div>
      <div class="col-6 blog">
        <img src="../../assets/micdoorskinimage.JPG" class="center brand"><br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is your gateway to the world’s most innovative laminates created by the best designers and manufactured by MICAS DOORSKIN. The conventional, the unusual, the high performance and the purely decorative. Whatever you project, you will find the solution within the MICAS DOORSKIN.</p>
        <div class="row pad1">
          <div class="col-4"></div>
          <div class="col-4">
            <span class="dwn">Available in 0.8mm : </span>
            <a href="../../assets/Documents/micas doorskin.pdf" download="micas doorskin.pdf"><img src="../../assets/doorbook.PNG"></a>
          </div>
        </div>
        <div class="row pad1">
          <div class="col-3 blink center"><img src="../../assets/certificates/CE.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/FSC.jpg" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/greenguard.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/iso14001.jpg" height="75" width="75"></div>
        </div>
      </div>
      <div class="col-4">
        <img src="../../assets/Descimage/micasdoorskin.png" class="center" style="width: 500px; height: 700px; border-radius: 45px;">
      </div>
    </div>

    <div id="milo1" class="row  pad1">
      <div class="col-1"></div>
      <div class="col-4">
        <img src="../../assets/Descimage/Laminator5.png" class="center" style="width: 500px;height: 700px; border-radius: 45px; ">
      </div>
      <div class="col-1"></div>
      <div class="col-6 blog">
        <img src="../../assets/laminimage1.JPG" class="center brand"><br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
        <div class="row pad1">
          <div class="col-4"></div>
          <div class="col-4">
            <span class="dwn">Available in 0.8mm : </span>
            <a href="../../assets/Documents/Laminator.pdf" download="Laminator.pdf"><img src="../../assets/lambook.PNG" width="150"></a>
          </div>
        </div>
        <div class="row pad1">
          <div class="col-3 blink center"><img src="../../assets/certificates/CE.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/FSC.jpg" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/greenguard.png" height="75" width="75"></div>
          <div class="col-3 blink center"><img src="../../assets/certificates/iso14001.jpg" height="75" width="75"></div>
        </div>
      </div>
    </div>
    </div>

    <div class="row">
      <footer>
        <h1>Contact Premier Laminates</h1>
        <span>For any query feel free to <a href="/contact" style="font-weight: bold;">talk</a> to us</span>
        <div class="row pad">
          <div class="col-4">
            <h3>Head Office</h3>
            <p>
              468, Raja Muthiah Rd, 
              Thattankulam, Choolai, 
              Chennai, Tamil Nadu 600 012<br>
              <a href="https://goo.gl/maps/7k3jYXGXR5BnTX8Q8">Direction</a>
            </p>
          </div>
          <div class="col-4"></div>
          <div class="col-4">
            <h3>Branch Office</h3>
            <p>
              109/4, Mysore Rod,
               New Timber Layout,
               Bengaluru, Karnataka- 560 026 <br>
               <a href="https://goo.gl/maps/5bcuGNY3k7S3SNJB6">Direction</a>
            </p>
          </div>
        </div>
        <div class="row pad">
          <div class="col-4"></div>
          <div class="col-4">
            <h3>Ware House</h3>
            <p>
              109/4, Mysore Rod,
               New Timber Layout,
               Bengaluru, Karnataka- 560 026 <br>
               <a href="https://goo.gl/maps/5bcuGNY3k7S3SNJB6">Direction</a>
            </p>
          </div>
        </div>
       <div class="row">
        <div class="col-1"></div>
        <div class="col-2">
         <a href="https://www.facebook.com/profile.php?id=100077196877251&mibextid=ZbWKwL"> <img src="../../assets/facebook.png" alt="" height="35" width="35"> </a> /Premier-Laminates
        </div>
        <div class="col-1"></div>
        <div class="col-3">
         <a href="https://www.instagram.com/premierlaminatesmohit/"> <img src="../../assets/insta.jpg" alt="" height="35" width="35"> </a> @premierlaminatesmohit
        </div>
        <div class="col-1"></div>
        <div class="col-3">
         <a href="https://www.youtube.com/@premierlaminatesmohit/"> <img src="../../assets/youtube.png" alt="" height="35" width="50"> </a>/@premierlaminatesmohit
        </div>
       </div>

        <p class="pad">&copy; SC Services and Consultancy 2023 Your Website. All rights reserved.</p>
      </footer>
    </div>

