<div class="container" >
  <div class="brnd">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 us">
          <span>Decorative Laminates</span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 us">
          <span>Utilization</span>
      </div>

      <div class="col-2">
        <div class="card" >
          <img src="../../assets/lami_kitc.jpg" class="brand" (click)="showPopup('Kitchen Cabinet')">
          <app-popup *ngIf="isPopupVisible" (closePopup)="hidePopup()"></app-popup>
          <h5 style="text-align: center;" >Kitchen Cabinet</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/lam_tv.jpg" class="brand" (click)="showPopup('TV Units')">
          <app-popup *ngIf="isPopupVisible" (closePopup)="hidePopup()"></app-popup>
          <h5 style="text-align: center;">TV Units</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/ward_lam.jpg" class="brand">
          <h5 style="text-align: center;">Wardrobe</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/office_lam.jpg" class="brand">
          <h5 style="text-align: center;">Office</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/door.jpg" class="brand">
          <h5 style="text-align: center;">Laminated Doors</h5>
        </div>
      </div>
      <div class="col-2">
        <div class="card">
          <img src="../../assets/bed_lam.avif" class="brand">
          <h5 style="text-align: center;">Bed Room Backdrop</h5>
        </div>
      </div>
    </div>

    <div class="row pad1">
      <div class="col-12 us">
          <span>Highlights</span>
      </div>

      <div class="col-2">
          <div class="card">
            <img src="../../assets/fire.png" class="brand">
            <h5 style="text-align: center;">Dry Heat Resistance 180&deg;</h5>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <img src="../../assets/stain.PNG" class="brand">
            <h5 style="text-align: center; ">Surface and Stain Proof</h5>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <img src="../../assets/crack.PNG" class="brand">
            <h5 style="text-align: center;">Crack and Scratch Proof</h5>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <img src="../../assets/water.PNG" class="brand">
            <h5 style="text-align: center;">Surface Water Protection</h5>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <img src="../../assets/termite.PNG" class="brand">
            <h5 style="text-align: center;">Anti Termite and Pest</h5>
          </div>
        </div>
        <div class="col-2">
          <div class="card">
            <img src="../../assets/make.jpg" class="brand">
            <h5 style="text-align: center;">Make In India</h5>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 us">
          <span>Our Brands</span>
      </div>
    </div>
    <div class="row pad1">
      <div class="col-3">
          <!--<div class="card brdr" style="width: 15rem;height: 10rem;">-->
              <a href="/declaminator/#milo"><img src="../../assets/milo_logo.JPG" class="center brand"></a> 
          <!--</div>-->
      </div>
      <div class="col-3">
        <!--<div class="card brdr" style="width: 15rem;height: 10rem;">-->
            <a href="/declaminator/#milo1"><img src="../../assets/laminimage1.JPG" class="center brand"></a> 
        <!--</div>-->
      </div>
      <div class="col-3">
          <!--<div class="card brdr" style="width: 15rem;height: 10rem;">-->
            <a href="/declaminator/#mica"><img src="../../assets/micas_logo.JPG" class="center brand"></a>  
          <!--</div>-->
      </div>
      <div class="col-3">
        <!--<div class="card brdr" style="width: 15rem;height: 10rem;">-->
          <a href="/declaminator/#mica1"><img src="../../assets/micdoorskinimage.JPG" class="center brand"></a>  
        <!--</div>-->
      </div>
    </div>
    <br>
  </div>
  <div style="background-color:azure;">
    <div class="row pad1">
      <div class="col-12 us">
          <span>Samples</span>
      </div>
      <div class="col-3">
          <div class="card brdr" style="width: 20rem;height: 10rem;">
              <img src="../../assets/lami1.PNG" class="brdr">
          </div>
      </div>
      <div class="col-3">
          <div class="card brdr" style="width: 20rem;height: 10rem;">
              <img src="../../assets/lami2.PNG" class="brdr">
          </div>
      </div>
      <div class="col-3">
          <div class="card brdr" style="width: 20rem;height: 10rem;">
              <img src="../../assets/lami3.PNG" class="brdr">
          </div>
      </div>
      <div class="col-3">
          <div class="card" style="width: 20rem;height: 10rem;">
              <img src="../../assets/lami4.PNG" class="brdr">
          </div>
      </div>
    </div>
    
    <div id="milo"  class="row  pad1" style="padding-top: 140px;">
      <!--<div class="col-3">
        <img src="../../assets/milo_shades.jpg" alt="Image" style="width: 20rem;height: 20rem;" (click)="showPopup()">
        <app-popup *ngIf="isPopupVisible" (closePopup)="hidePopup()"></app-popup>
      </div>-->
      <div class="col-3"></div>
      <div class="col-6 blog">
        <img src="../../assets/milo_logo.JPG" class="center brand">
        <!--<span class="us">Milo</span>--><br>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
      </div>
    </div>
    
    <div class="row pad1">
      <div class="col-4"></div>
      <div class="col-4">
        <span class="dwn">Available in 0.8mm : </span>
        <a href="../../assets/Documents/Milo Folder PDF.pdf" download="milo.pdf">
          <img src="../../assets/downloadimage.png"></a>
      </div>
    </div>

    <div id="milo1" class="row  pad1">
      <div class="col-3"></div>
      <div class="col-6 blog">
          <!--<span class="us">Laminator </span>-->
          <img src="../../assets/laminimage1.JPG" class="center brand"><br>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
      </div>
    </div>

    <div class="row pad1">
      <div class="col-4"></div>
      <div class="col-4">
        <span class="dwn">Available in 0.8mm : </span>
        <a href="../../assets/Documents/Laminator.pdf" download="Laminator.pdf"><img src="../../assets/downloadimage.png"></a>
      </div>
    </div>

    <div id="mica" class="row  pad1">
      <div class="col-3"></div>
      <div class="col-6 blog">
          <!--<span class="us">Micas</span>-->
          <img src="../../assets/micas_logo.JPG" class=" center brand"><br>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Milo is a leading brand in the world of decorative laminates. We have crafted a wide range of beautiful designs and shades of laminates which will enrich your decor with a slice of elegance Add more elements of style and panache to your spaces with our creativity Choose milo and live in the palace of.</p>
      </div>
      <!--<div class="col-3">
          <img src="../../assets/mica_shades.jpg" alt="" style="width: 20rem;height: 20rem;" (click)="showPopup()">
          <app-popup *ngIf="isPopupVisible" (closePopup)="hidePopup()"></app-popup>
      </div>-->
    </div>

    <div  class="row pad1">
      <div class="col-2"></div>
      <div class="col-4">
        <span class="dwn">Available in 0.8mm : </span>
        <a href="../../assets/Documents/MIcas 0.8 mm.pdf" download="MIcas 0.8 mm.pdf"> <img src="../../assets/downloadimage.png"></a>
      </div>
      <div class="col-2"></div>
      <div class="col-4">
        <span class="dwn">Available in 1.0mm : </span>
        <a href="../../assets/Documents/micas 1.00mm.pdf" download="micas 1.00mm.pdf"> <img src="../../assets/downloadimage.png"></a>
      </div>
    </div>

    <div id="mica1" class="row  pad1">
      <div class="col-3"></div>
      <div class="col-6 blog">
          <!--<span class="us">Micas Doorskin</span>-->
          <img src="../../assets/micdoorskinimage.JPG" class="center brand"><br>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;This is your gateway to the world’s most innovative laminates created by the best designers and manufactured by MICAS DOORSKIN. The conventional, the unusual, the high performance and the purely decorative. Whatever you project, you will find the solution within the MICAS DOORSKIN.</p>
      </div>
    </div>
    
    <div class="row pad1">
      <div class="col-4"></div>
      <div class="col-4">
        <span class="dwn">Available in 0.8mm : </span>
        <a href="../../assets/Documents/micas doorskin.pdf" download="micas doorskin.pdf"><img src="../../assets/downloadimage.png"></a>
      </div>
    </div>
  </div>

  
  <div class="row pad">
    <footer>
      <p>&copy; SC Services and Consultancy 2023 Your Website. All rights reserved.</p>
    </footer>
  </div>
</div>
