.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 350px;
    width: 1100px;
    padding: 20px;
    background-color: rgb(196, 194, 194);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
  }

  .image{
    height:200px;
    width: 250px;
    border: solid;
    tab-size: 4;
  }
