<div class="popup">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <h1>{{data}}</h1>
    </div>
    <div class="col-2"></div>
    <div class="col-2" (click)="closePopup.emit()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m254-159-94-95 225-226-225-226 94-96 226 226 226-226 94 96-225 226 225 226-94 95-226-226-226 226Z"/></svg>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="data==='Kitchen Cabinet'">
    &nbsp;&nbsp; <div >
        <img src="../../../assets/kitchen/kit1.jpg" alt="" class="image"> <br>
        <span style="font-weight: bold;"> Art #124</span>
      </div>&nbsp;&nbsp;
      <div>
        <img src="../../../assets/kitchen/kit2.jpg" alt="" class="image"> <br>
        <span  style="font-weight: bold;"> Art #124</span>
      </div>&nbsp;&nbsp;
      
      <div>
        <img src="../../../assets/kitchen/kit3.jpg" alt="" class="image"> <br>
        <span  style="font-weight: bold;"> Art #124</span>
      </div>&nbsp;&nbsp;
  
      <div >
        <img src="../../../assets/kitchen/kit4.jpg" alt="" class="image"> <br>
        <span  style="font-weight: bold;"> Art #124</span>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      
      &nbsp;&nbsp;<div>
        <img src="../../../assets/kitchen/kit5.jpg" alt="" class="image"> <br>
        <span  style="font-weight: bold;"> Art #124</span>
      </div>&nbsp;&nbsp;
      
      <div >
        <img src="../../../assets/kitchen/kit6.jpg" alt="" class="image"> <br>
        <span  style="font-weight: bold;"> Art #124</span>
      </div>&nbsp;&nbsp;
    
  </div>
  
  <div class="row" *ngIf="data==='TV Units'" style="top: 250px;">
    &nbsp;&nbsp; <div >
      <img src="../../../assets/TV/tv1.jpg" alt="" class="image"> <br>
      <span style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    <div>
      <img src="../../../assets/TV/tv2.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    
    <div>
      <img src="../../../assets/TV/tv3.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;

    <div >
      <img src="../../../assets/TV/tv4.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    &nbsp;&nbsp;<div>
      <img src="../../../assets/TV/tv5.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    
    <div >
      <img src="../../../assets/TV/tv6.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
  </div>

  <div class="row" *ngIf="data==='Wardrobe'" style="top: 250px;">
    &nbsp;&nbsp; <div >
      <img src="../../../assets/TV/tv1.jpg" alt="" class="image"> <br>
      <span style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    <div>
      <img src="../../../assets/TV/tv2.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    
    <div>
      <img src="../../../assets/TV/tv3.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;

    <div >
      <img src="../../../assets/TV/tv4.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    &nbsp;&nbsp;<div>
      <img src="../../../assets/TV/tv5.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    
    <div >
      <img src="../../../assets/TV/tv6.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
  </div>

  <div class="row" *ngIf="data==='Laminator Doors'" style="top: 250px;">
    &nbsp;&nbsp; <div >
      <img src="../../../assets/Laminatordoor/lami51.jpg" alt="" class="image"> <br>
      <span style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    <div>
      <img src="../../../assets/Laminatordoor/lami2.PNG" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    
    <div>
      <img src="../../../assets/Laminatordoor/lami3.PNG" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;

    <div >
      <img src="../../../assets/Laminatordoor/lami4.PNG" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    
    &nbsp;&nbsp;<div>
      <img src="../../../assets/Laminatordoor/lami1.PNG" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;
    
    <!--<div >
      <img src="../../../assets/TV/tv6.jpg" alt="" class="image"> <br>
      <span  style="font-weight: bold;"> Art #124</span>
    </div>&nbsp;&nbsp;-->
  </div>
</div>