<div class="popup">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-6">
      <h1>{{data}}</h1>
    </div>
    <div class="col-2"></div>
    <div class="col-2" (click)="closePopup.emit()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m254-159-94-95 225-226-225-226 94-96 226 226 226-226 94 96-225 226 225 226-94 95-226-226-226 226Z"/></svg>
    </div>
  </div>
  <br>
  <div class="row" *ngIf="data==='Kitchen Cabinet'">
    <marquee behavior="scroll" direction="left" Scrollamount=15>
      <img src="../../../assets/kitchen/kit1.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/kitchen/kit2.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/kitchen/kit3.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/kitchen/kit4.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/kitchen/kit5.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/kitchen/kit6.jpg" alt="" class="image">&nbsp;
      <br>
      <span style="font-weight: bold;">Art #123</span>
      <span style="padding-left: 200px; font-weight: bold; ">Art #126</span>
      <span style="padding-left: 200px;font-weight: bold;">Art #158</span>
      <span style="padding-left: 200px; font-weight: bold;">Art #85</span>
      <span style="padding-left: 200px; font-weight: bold;">Art #693</span>
      <span style="padding-left: 200px; font-weight: bold;">Art #193</span>
    </marquee>
  </div>
  
  <div class="row" *ngIf="data==='TV Units'">
    <marquee behavior="scroll" direction="left" Scrollamount=15>
      <img src="../../../assets/TV/tv1.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/TV/tv2.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/TV/tv3.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/TV/tv4.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/TV/tv5.jpg" alt="" class="image">&nbsp;
      <img src="../../../assets/TV/tv6.jpg" alt="" class="image">&nbsp;
      <br>
      <span style="font-weight: bold;">Art #653</span>
      <span style="padding-left: 200px; font-weight: bold; ">Art #859</span>
      <span style="padding-left: 200px;font-weight: bold;">Art #659</span>
      <span style="padding-left: 200px; font-weight: bold;">Art #875</span>
      <span style="padding-left: 200px; font-weight: bold;">Art #693</span>
      <span style="padding-left: 200px; font-weight: bold;">Art #225</span>
    </marquee>
  </div>
</div>